{% extends "base.html" %}
{% block content %}

<form action="/appointments" method="post">

  <div>
    <label for="appointment_time">appointment Time:</label>
    <input type="text" id="appointment_time" name="appointment_time" placeholder="APPOINTMENT" required autofocus>
  </div>

  <div>
    <label for="appointment_date">appointment Date:</label>
    <input type="text" id="appointment_date" name="appointment_date" placeholder="APPOINTMENT" required autofocus>
  </div>

  <div>
    <label for="owner">Owner:</label>
    <select name="owner_id" id="owner">
      {% for owner in owners %}
      <option value="{{ owner.id }}" {% if owner.id == appointment.owner.id %} selected {% endif %}>
        {{ owner.name }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label for="animal">Animal:</label>
    <select name="animal_id" id="animal">
      {% for animal in animals %}
      <option value="{{ animal.id }}" {% if animal.id == appointment.animal.id %} selected {% endif %}>
        {{ animal.name }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <button type="submit">Edit Owner Details</button>
  </div>




</form>

{% endblock %}