{% extends "base.html" %}
{% block content %}
<section>

<form action="/appointments/ {{appointment.id }}" method="POST">

  <div>
    <label for="appointment_time">Appointment Time:</label>
    <input type="datetime" id="appointment_time" name="appointment_time" placeholder="Enter Time" required autofocus>
  </div>

  <div>
    <label for="appointment_date">Appointment Date:</label>
    <input type="date" id="appointment_date" name="appointment_date" placeholder="Enter Date" required autofocus>
  </div>

  <div>
    <label for="owner">Owner:</label>
    <select name="owner_id" id="owner">
      {% for owner in owners %}
      <option value="{{ owner.id }}" >
        {{ owner.name }}
      </option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="animal">Animal:</label>
    <select name="animal_id" id="animal">
      {% for animal in animals %}
      <option value="{{ animal.id }}" >
        {{ animal.name }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <button type="submit">Edit Appointment Details</button>
  </div>




</form>
</section>
{% endblock %}