{% extends "base.html" %}
{% block content %}
<section>

<form action="/appointments/{{appointment.id }}" method="POST">

  <div>
    <label for="start_time">Appointment Start Time:</label>
    <input type="time" id="start_time" name="start_time" min="09:00" max="16:00" required autofocus>
  </div>

  <div>
    <label for="end_time">Appointment End Time:</label>
    <input type="time" id="end_time" name="end_time" min="09:00" max="16:00" required autofocus>
  </div>

  <div>
    <label for="appointment_date">Appointment Date:</label>
    <input type="date" id="appointment_date" name="appointment_date" value="{{ appointment.appointment_date }}" required autofocus>
  </div>

  <div>
    <label for="animal">Animals:</label>
    <select name="animal_id" id="animal" >
       <option value="{{ appointment.animal.id  }}" {% if appointment.animal.id == appointment.animal.id %}
        selected {% endif %}>
        {{ appointment.animal.name }}   
      </option>
    </select>
  </div>

    <button type="submit">Edit Appointment Details</button>



</form>
</section>
{% endblock %}