{% extends "base.html" %}
{% block content %}
<section>
<br>
<h1>Upcoming Appointments</h1>
<hr> 

{% for appointment in all_appointments %}
<section>
  <p> Appointment Date: {{ appointment.appointment_date }}
  <BR>
  Owner name: {{ appointment.animal.owner.name }}   <BR>
  Animal name: {{appointment.animal.name}}</p>
  <br> <hr>
  
  <div class = input>
  
    <form action="appointments/{{ appointment.id }}" method="GET">
      <input type="submit" value="Get Details">
    </form>

    <form action="/appointments/{{ appointment.id }}/edit" method="GET">
      <input type="submit" value="Change Details">
    </form>
    
    <form action="/appointments/{{ appointment.id }}/delete" method="POST">
      <input type="submit" value="Delete">
    </form> 
    <hr>
  </div>
</section>
{% endfor %}    


{% endblock %}
