{% extends "base.html" %}
{% block content %}


{% for appointment in all_appointments %}
  
<section>
  <p> Appointment Date: {{ appointment.appointment_date }}
  <BR>
  Owner name: {{ appointment.owner.name }} 
  <BR>
  Animal name: {{appointment.animal.name}}</p>
  <hr>
  <form action="/appointments/{{ appointment.id }}/edit" method="GET">
    <input type="submit" value="Change Details">
  </form>
  <form action="/appointments/{{ appointment.id }}/delete" method="POST">
      <input type="submit" value="Delete">
  </form> 
  <hr>
  <form action="appointments/{{ appointment.id }}" method="GET">
    <input type="submit" value="Get Details">
  </form>
</section>


{% endfor %}

{% endblock %}
