{% extends "base.html" %}
{% block content %}
<section>
    <br>
    <h1>Enter New Appointment Details Below</h1>
    <hr>
<form action="/appointments" method="post">

    <div>
      <label for="appointment_time">Appointment Time:</label>
      <input type="time" id="appointment_time" name="appointment_time" min="09:00" max="16:00" value= "{{ appointment.appointment_time }}" required autofocus>
    </div>
  
    <div>
      <label for="appointment_date">Appointment Date:</label>
      <input type="date" id="appointment_date" name="appointment_date" value= "{{ appointment.appointment_date}}" required autofocus>
    </div>

      <div>
          <label for="animal">Animals:</label>
          <select name="animal_id" id="animal">
              {% for animal in animals %}
              <option value="{{ animal.id }}" {% if animal.owner.id == animal.owner.id %}
               selected {% endif %}>
               {{ animal.name }}   
            </option>
             
              {% endfor %}
          </select>
      </div>
      <div>
        <button type="submit"> Create New Appointment</button>
      </div>

</form>
</section>
{% endblock %}
