{% extends "base.html" %}
{% block content %}
<section>
<form action="/appointments" method="post">

    <div>
      <label for="appointment_time">Appointment Time:</label>
      <input type="datetime" id="appointment_time" name="appointment_time" placeholder="Appointment Time" required autofocus>
    </div>
  
    <div>
      <label for="appointment_date">Appointment Date:</label>
      <input type="date" id="appointment_date" name="appointment_date" placeholder="Appointment Date" required autofocus>
    </div>
  
    <div>
          <label for="owner">Owner:</label>
          <select name="owner_id" id="owner">
              {% for owner in owners %}
              <option value="{{ owner.id }}" {% if owner.id == owner.id %} selected {% endif %}>
                  {{ owner.name }}
              </option>
              {% endfor %}
          </select>
      </div>

      <div>
          <label for="animal">Animals:</label>
          <select name="animal_id" id="animal">
              {% for animal in animals %}
              <option value="{{ animal.id }}" {% if animal.id == animal.owner.id %}
               selected {% endif %}>
               {{ animal.name }}   
            </option>
             
              {% endfor %}
          </select>
      </div>
      <div>
        <button type="submit"> Create New Appointment</button>
      </div>


</form>
</section>
{% endblock %}
