{% extends "base.html" %}
{% block content %}
  <section>
    <br>
    <h1>Upcoming Appointments</h1> 
    <hr>
  <div>
    <p>Appointment Start Time: {{ appointment.start_time }}</p>
    <p>Appointment End Time: {{ appointment.end_time }}</p>
    <hr>
    <p>Appointment Date: {{ appointment.appointment_date }}</p>   
    <p>Owner: <a href="{{ '/owners/%s'%appointment.animal.owner.id|urlencode }}">{{ appointment.animal.owner.name }}</a></p>
    <p>Animal: <a href="{{ '/animals/%s'%appointment.animal.id|urlencode }}">{{ appointment.animal.name }}</a></p>

    <p><a href="/appointments/{{ appointment.id }}/edit">Edit</a></p>
  </div>
<section>
{% endblock %}
