{% extends "base.html" %}
{% block content %}


{% for animal in all_animals %}
  
<section>
  <p> Name:{{ animal.name }} ID: {{ animal.id }}</p>
  <form action="/animals/{{ animal.id }}/edit" method="GET">
    <input type="submit" value="Change Details">
  </form> 
  <form action="/animals/{{ animal.id }}/delete" method="POST">
      <input type="submit" value="Delete">
  </form> 
  <hr>
  <form action="animals/{{ animal.id }}" method="GET">
    <input type="submit" value="Get Details">
  </form> 
</section>
</section>
{% endfor %}

{% endblock %}
