{% extends "base.html" %}
{% block content %}
<section>
<br>
All Registered Animals
<hr> 
{% for animal in all_animals %}
  

  <p> Name:  {{ animal.name }} <br> 
  ID: {{ animal.id }}</p>
  <form action="/animals/{{ animal.id }}/edit" method="GET">
    <input type="submit" value="Change Details">
  </form> 
  <form action="animals/{{ animal.id }}" method="GET">
    <input type="submit" value="Get Details"> 
  </form> 
  <form action="/animals/{{ animal.id }}/delete" method="POST">
      <input type="submit" value="Delete">
  </form> 
  <hr>
  


{% endfor %}
</section>

{% endblock %}
