{% extends "base.html" %}
{% block content %}
<section>
<form action="/animals" method="post">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="name" required autofocus>
  </div>

  <div>
    <label for="date_of_birth">Date of Birth:</label>
    <input type="date" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" required autofocus>
  </div>

  <div>
    <label for="animal_type">Animal Type:</label>
    <input type="text" id="animal_type" name="animal_type" placeholder="Animal Type" required>
  </div>

  <div>
    <label for="treatment_notes">Treatment Notes:</label>
    <input type="text" id="treatment_notes" name="treatment_notes"
    placeholder="TreatmentNotes" required>
  </div>

  <div>
    <label for="owner">Owner:</label>
      <select name="owner_id" id="owner">
        {% for owner in owners %}
            <option value="{{ owner.id }}">
            {{ owner.name }}
            </option>
        {% endfor %}
      </select>
  </div>  

  <button type="submit">Add Animal</button>

</form>
</section>
{% endblock %}
