{% extends "base.html" %}
{% block content %}
<section>
  <br>
  All Registered Animals 
  <hr>
  
  <div>
    <p>Name: {{ animal.name }}</p>
    <hr>
    <p>DoB:{{ animal.date_of_birth }}</p>
    <p>Type:{{ animal.animal_type }}</p>
    <p>Treatment Notes:{{ animal.treatment_notes }}</p>
    
    {% for owner in owner %}
    Owner: <a href="{{ '/owners/%s'%owner.owner.id|urlencode }}">{{ owner.owner.name }}</a>
    {% endfor %}
    

    <p><a href="/animals/{{animal.id}}/edit">Edit</a></p>
  </div>
</section>
{% endblock %}
