{% extends "base.html" %}
{% block content %}
<section>
<form action="/owners" method="post">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="{{ owner.name }}" required autofocus>
  </div>

  <div>
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" placeholder="{{ owner.address }}" required autofocus>
  </div>


  
  <button type="submit">Edit Owner Details</button>

</form>
</section>
{% endblock %}
