{% extends "base.html" %}
{% block content %}
<section>
<br>
All Registered Owners
<hr> 

{% for owner in all_owners %}
  
<section>
  <p> Name:{{ owner.name }} <BR>
  ID: {{ owner.id }}</p>
  <br> <hr>
  
  <div class = input>

    <form action="/owners/{{ owner.id }}/edit" method="GET">
     <input type="submit" value="Change Details">
    </form>

    <form action="owners/{{ owner.id }}" method="GET">
      <input type="submit" value="Get Details">
    </form> 

    <form action="/owners/{{ owner.id }}/delete" method="POST">
      <input type="submit" value="Delete">
    </form> 

  <hr>
</div>
</section>
{% endfor %}



{% endblock %}
