{% extends "base.html" %}
{% block content %}
<section id="owners">

  <h1>Owner Details</h1>
  <div class = owner_details>
    <p>Owners Name: {{ owner.name }}</p>
    <hr>
    <p>Home Address: {{ owner.address }}<BR>
    ID: {{ owner.id }}</p>
    
    {% for owned_animal in owned_animals %}
   
    Registered Animals:
    <a href="{{ '/animals/%s'%owned_animal.id|urlencode }}">{{ owned_animal.name }}</a>

    {% endfor %}
    <br>
    <p><a href="/owners/{{ owner.id }}/edit">Edit</a></p>
  </div>
</section>
{% endblock %}
