<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Vettech Control Board</title>
</head>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="{{ url_for('home') }}">Home</a></li></ul>
        Add Animal
        <ul>
            <li><a href="/animals">All</a></li>
            <li><a href="/animals/new">Add</a></li>
      </ul>
        Add Owner
        <ul>
            <li><a href="/owners">All</a></li>
            <li><a href="/owners/new">Add</a></li>
      </ul>
      Appointments
      <ul>
        <li><a href="/appointments">All</a></li>
        <li><a href="/appointments/new">Add</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
<div class="container">
  {%block home%}
  {% endblock %}
</div>
</div>
</body>
</html>
