<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Vettech Control Board</title>
</head>

<body>
  <header>
    <div class="topnav" id="myTopnav">
      <a href="/" class="active">Home</a>
    
  
      <div class="dropdown">
        <button class="dropbtn">Owners
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="dropdown1">
          <a href="/owners">View all Owners</a>
          <a href="/owners/new">Add New Owner</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Animals
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id ="dropdown2">
          <a href="/animals">View All Animals</a>
          <a href="/animals/new">Add New Animal</a>
        </div>
      </div>
      
      <div class="dropdown">
        <button class="dropbtn">Appointments
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id ="dropdown3">
          <a href="/appointments">View All Appointments</a>
          <a href="/appointments/new">Add New Appointment</a>
        </div>
      </div>

    </div>
  
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <div class="container">
    {%block home%}
    {% endblock %}
  </div>
  </div>
</div>
  </header>
</body>

</html>