{% extends "base.html" %}
{% block home %}
<section id="home">
   
Welcome to the VetTech Dashboard - For all your Vetting needs.
<br>
<img src="{{url_for('static', filename='logo.png')}}" alt="logo" width="100" height="100"> 
<br>
<p>Current Registered Owners:<a href="{{'/owners'}}">{{owners|length}}</a></p>
<p>Current Registered Pets: <a href="{{'/animals'}}">{{animals|length}} </a></p>
<p>Upcoming Appointments: <a href="{{'/appointments'}}">{{appointments|length}}</a></p>
</section>
{% endblock %}

